include version.py
include LICENSE.txt
include requirements.txt
include pymagnitude/third_party/*
include pymagnitude/third_party/**/*
recursive-include pymagnitude/third_party *
recursive-include pymagnitude/third_party *.txt *.py *.c *.yml *.cfg *.h *.ini Makefile *.whl *.so *.pyd .gitkeep
include pymagnitude/req_wheels/*
include pymagnitude/req_wheels/**/*
recursive-include pymagnitude/req_wheels *
recursive-include pymagnitude/req_wheels *.txt *.py *.c *.yml *.cfg *.h *.ini Makefile *.whl *.so *.pyd .gitkeep